<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.pccore.mapper.AppMapper">

    <select id="listApp" resultType="com.zte.msg.pushcenter.pccore.entity.App" parameterType="com.zte.msg.pushcenter.pccore.dto.req.AppListReqDTO">
        select * from app where flag=0
        <if test="appId!=null">
            and app_id=#{appId}
        </if>
        <if test="status!=null">
            and status=#{status}
        </if>
        group by id
        <if test="appName!=null">
            having GROUP_CONCAT("|",app_name,"|",to_pinyin(app_name),"|",pinyin(Num_char_extract(app_name,3)),"|",Num_char_extract(app_name,2),"|") like "%"#{appName}"%"
        </if>
    </select>

    <select id="listAllApp" resultType="com.zte.msg.pushcenter.pccore.entity.App">
        select * from app where flag=0
    </select>

    <delete id="deleteApp">
        <foreach collection="appIds" index="index" item="appId" separator=";">
            update app set flag=1, updated_by=#{userName} where id=#{appId} and flag=0;
            update app_role set flag=1, updated_by=#{userName} where app_id=#{appId} and flag=0
        </foreach>
    </delete>

    <update id="updateApp" parameterType="com.zte.msg.pushcenter.pccore.entity.App">
        update app
        <set>
            <trim suffixOverrides=",">
                <if test="appName!=null">
                    app_name=#{appName},
                </if>
                <if test="status!=null">
                    status=#{status},
                </if>
            </trim>
        </set>
        where id=#{id} where flag=0
    </update>

    <insert id="insertApp" parameterType="com.zte.msg.pushcenter.pccore.entity.App">
        insert into app(app_name, app_key, app_secret, created_by, updated_by)
        value(#{appName},#{appKey},#{appSecret},#{createdBy},#{updatedBy});
    </insert>

    <select id="selectAppId" resultType="java.lang.Integer" parameterType="java.lang.String">
        select id from app where app_name=#{appName}
    </select>

    <update id="resetKey">
        update app
        <set>
            app_secret=#{appSecret},updated_by=#{userName}
        </set>
        where id=#{appId}
    </update>
</mapper>