<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.pccore.mapper.AppRoleMapper">
    <select id="selectApp" resultType="com.zte.msg.pushcenter.pccore.dto.res.AppRoleResDTO">
        SELECT distinct ar.app_id,a.app_name FROM app_role as ar
        left join app as a on a.id=ar.app_id and a.flag=0 where ar.flag=0 and ar.app_id=#{appId};
    </select>
    
    <select id="selectAppMode" resultType="com.zte.msg.pushcenter.pccore.entity.AppRole">
        SELECT distinct ar.mode_id,r.mode_name FROM app_role as ar
        left join send_mode as r on r.id=ar.mode_id and r.flag=0 where ar.app_id=#{appId} and ar.flag=0;
    </select>

    <select id="selectTemplate" resultType="com.zte.msg.pushcenter.pccore.dto.res.TemplateResDTO">
        select ar.id as app_role_id,ar.template_id as id,t.content,ar.status from app_role as ar
        left join sms_template as t on ar.template_id=t.id and t.flag=0 where ar.mode_id=#{modeId} and ar.flag=0
    </select>

    <insert id="editAppRole" parameterType="com.zte.msg.pushcenter.pccore.dto.res.AppRoleResDTO">
        <foreach collection="list" item="item" index="index" separator=";">
            <foreach collection="item.sendMode" index="index" item="sendMode" separator=";">
                <foreach collection="sendMode.template" item="template" index="index" separator=";">
                    insert into app_role
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="template.appRoleId!=null">id,</if>
                        <if test="item.appId!=null">app_id,</if>
                        <if test="sendMode.modeId!=null">mode_id,</if>
                        <if test="template.id!=null">template_id,</if>
                        <if test="template.status!=null">status,</if>
                    </trim>
                    values
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="template.appRoleId!=null">#{template.appRoleId},</if>
                        <if test="item.appId!=null">#{item.appId},</if>
                        <if test="sendMode.modeId!=null">#{sendMode.modeId},</if>
                        <if test="template.id!=null">#{template.id},</if>
                        <if test="template.status!=null">#{template.status},</if>
                    </trim>
                    ON DUPLICATE KEY UPDATE
                        app_id=#{item.appId},
                        mode_id=#{sendMode.modeId},
                        template_id=#{template.id},
                        status=#{template.status}
                </foreach>
            </foreach>
        </foreach>
    </insert>

    <select id="listSendMode" resultType="com.zte.msg.pushcenter.pccore.entity.SendMode">
        select * from send_mode
    </select>

    <delete id="deleteSendMode" parameterType="java.lang.Integer">
        update send_mode set flag=1 where id=#{modeId} and flag=0;
        update app_role set flag=1 where mode_id=#{modeId} and flag=0;
    </delete>

    <update id="updateSendMode" parameterType="com.zte.msg.pushcenter.pccore.entity.SendMode">
        update send_mode set mode_name=#{modeName} where id=#{id}
    </update>

    <insert id="insertSendMode" parameterType="java.lang.String">
        insert into send_mode(mode_name) value(#{modeName});
    </insert>

    <select id="selectSendModeId" resultType="java.lang.Integer" parameterType="java.lang.String">
        select id from send_mode where mode_name=#{modeName}
    </select>
</mapper>