<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.pccore.mapper.AppRoleMapper">
    <select id="selectApp" resultType="com.zte.msg.pushcenter.pccore.dto.res.AppRoleResDTO">
        SELECT id as app_id,app_name FROM app where is_deleted=0 and id=#{appId};
    </select>
    
    <select id="selectAppMode" resultType="com.zte.msg.pushcenter.pccore.entity.AppRole">
        SELECT distinct r.id as mode_id,if(count(ar.id)>1,null,ar.id) as app_role_id,r.mode_name,if(min(ar.status) is null,1,ar.status) as mode_status FROM send_mode as r
        left join app_role as ar on r.id=ar.mode_id and r.is_deleted=0 and ar.is_deleted=0 and ar.app_id=#{appId} group by r.id
    </select>

    <select id="selectSmsTemplate" resultType="com.zte.msg.pushcenter.pccore.dto.res.TemplateResDTO">
        select ar.id as app_role_id,ar.sms_template_id as id,t.content,ar.status from app_role as ar
        left join sms_template as t on ar.sms_template_id=t.id and t.is_deleted=0 where ar.mode_id=#{modeId} and ar.app_id=#{appId} and ar.is_deleted=0
    </select>

    <select id="selectWechatTemplate" resultType="com.zte.msg.pushcenter.pccore.dto.res.WeChatTemplateRoleResDTO">
        SELECT p.id,ar.id as app_role_id,p.provider_name as wechat_name,ar.status FROM app_role as ar
        left join provider as p on ar.wechat_id=p.id and p.is_deleted=0 and ar.mode_id=4 where ar.app_id=#{appId} and p.type=4 and ar.is_deleted=0;
    </select>

    <insert id="editAppRole" parameterType="com.zte.msg.pushcenter.pccore.dto.res.AppRoleResDTO">
        <foreach collection="sendMode" index="index" item="sendMode" separator=";">
            <if test="sendMode.modeId==1">
                <foreach collection="sendMode.smsTemplate" item="smsTemplate" index="index" separator=";">
                    insert into app_role
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="smsTemplate.appRoleId!=null">id,</if>
                        <if test="appId!=null">app_id,</if>
                        <if test="sendMode.modeId!=null">mode_id,</if>
                        <if test="smsTemplate.id!=null">sms_template_id,</if>
                        <if test="smsTemplate.status!=null">status,</if>
                    </trim>
                    values
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="smsTemplate.appRoleId!=null">#{smsTemplate.appRoleId},</if>
                        <if test="appId!=null">#{appId},</if>
                        <if test="sendMode.modeId!=null">#{sendMode.modeId},</if>
                        <if test="smsTemplate.id!=null">#{smsTemplate.id},</if>
                        <if test="smsTemplate.status!=null">#{smsTemplate.status},</if>
                    </trim>
                    ON DUPLICATE KEY UPDATE
                    app_id=#{appId},
                    mode_id=#{sendMode.modeId},
                    sms_template_id=#{smsTemplate.id},
                    status=#{smsTemplate.status}
                </foreach>
            </if>
            <if test="sendMode.modeId==4">
                <foreach collection="sendMode.wechatTemplate" item="wechatTemplate" index="index" separator=";">
                    insert into app_role
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="wechatTemplate.appRoleId!=null">id,</if>
                        <if test="appId!=null">app_id,</if>
                        <if test="sendMode.modeId!=null">mode_id,</if>
                        <if test="wechatTemplate.id!=null">wechat_id,</if>
                        <if test="wechatTemplate.status!=null">status,</if>
                    </trim>
                    values
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="wechatTemplate.appRoleId!=null">#{wechatTemplate.appRoleId},</if>
                        <if test="appId!=null">#{appId},</if>
                        <if test="sendMode.modeId!=null">#{sendMode.modeId},</if>
                        <if test="wechatTemplate.id!=null">#{wechatTemplate.id},</if>
                        <if test="wechatTemplate.status!=null">#{wechatTemplate.status},</if>
                    </trim>
                    ON DUPLICATE KEY UPDATE
                    app_id=#{appId},
                    mode_id=#{sendMode.modeId},
                    wechat_id=#{wechatTemplate.id},
                    status=#{wechatTemplate.status}
                </foreach>
            </if>
            <if test="sendMode.modeId!=1 and sendMode.modeId!=4">
                insert into app_role
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="sendMode.appRoleId!=null">id,</if>
                    <if test="appId!=null">app_id,</if>
                    <if test="sendMode.modeId!=null">mode_id,</if>
                    <if test="sendMode.modeStatus!=null">status,</if>
                </trim>
                values
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="sendMode.appRoleId!=null">#{sendMode.appRoleId},</if>
                    <if test="appId!=null">#{appId},</if>
                    <if test="sendMode.modeId!=null">#{sendMode.modeId},</if>
                    <if test="sendMode.modeStatus!=null">#{sendMode.modeStatus},</if>
                </trim>
                ON DUPLICATE KEY UPDATE
                app_id=#{appId},
                mode_id=#{sendMode.modeId},
                status=#{sendMode.modeStatus}
            </if>
        </foreach>
    </insert>

    <select id="listSendMode" resultType="com.zte.msg.pushcenter.pccore.entity.SendMode">
        select * from send_mode
    </select>

    <delete id="deleteSendMode" parameterType="java.lang.Integer">
        update send_mode set is_deleted=1 where id=#{modeId} and is_deleted=0;
        update app_role set is_deleted=1 where mode_id=#{modeId} and is_deleted=0;
    </delete>

    <update id="updateSendMode" parameterType="com.zte.msg.pushcenter.pccore.entity.SendMode">
        update send_mode set mode_name=#{modeName} where id=#{id}
    </update>

    <insert id="insertSendMode" parameterType="java.lang.String">
        insert into send_mode(mode_name) value(#{modeName});
    </insert>

    <select id="selectSendModeId" resultType="java.lang.Integer" parameterType="java.lang.String">
        select id from send_mode where mode_name=#{modeName}
    </select>
</mapper>