<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.pccore.mapper.HistoryMapper">

    <select id="listHistorySms" resultType="com.zte.msg.pushcenter.pccore.entity.SmsInfo">
        select * from sms_info
        <if test="smsHistoryReqDTO.appId!=null or smsHistoryReqDTO.phoneNum!=null or smsHistoryReqDTO.startTime!=null or smsHistoryReqDTO.endTime!=null or smsHistoryReqDTO.result!=null or smsHistoryReqDTO.templateId!=null">
            <trim prefix="where " suffixOverrides="and">
                <if test="smsHistoryReqDTO.appId!=null">
                    app_id=#{smsHistoryReqDTO.appId} and
                </if>
                <if test="smsHistoryReqDTO.templateId!=null">
                    template_id=#{smsHistoryReqDTO.templateId} and
                </if>
                <if test="smsHistoryReqDTO.phoneNum!=null">
                    phone_num like CONCAT('%',#{smsHistoryReqDTO.phoneNum},'%') and
                </if>
                <if test="smsHistoryReqDTO.startTime!=null">
                    transmit_time >= #{smsHistoryReqDTO.startTime} and
                </if>
                <if test="smsHistoryReqDTO.endTime!=null">
                    #{smsHistoryReqDTO.endTime} >= transmit_time and
                </if>
                <if test="smsHistoryReqDTO.result!=null">
                    result=#{smsHistoryReqDTO.result} and
                </if>
            </trim>
        </if>
        group by id
        <if test="smsHistoryReqDTO.appName!=null">
            having
            GROUP_CONCAT("|",app_name,"|",to_pinyin(app_name),"|",pinyin(Num_char_extract(app_name,3)),"|",Num_char_extract(app_name,2),"|")
            like CONCAT('%',#{smsHistoryReqDTO.appName},'%')
        </if>
    </select>

    <select id="listHistoryMail" resultType="com.zte.msg.pushcenter.pccore.entity.MailInfo">
        select * from mail_info
        <if test="mailHistoryReqDTO.appId!=null or mailHistoryReqDTO.receiveAddress!=null or mailHistoryReqDTO.startTime!=null or mailHistoryReqDTO.endTime!=null or mailHistoryReqDTO.result!=null">
            <trim prefix="where " suffixOverrides="and">
                <if test="mailHistoryReqDTO.appId!=null">
                    app_id=#{mailHistoryReqDTO.appId} and
                </if>
                <if test="mailHistoryReqDTO.receiveAddress!=null">
                    receive_address like CONCAT('%', #{mailHistoryReqDTO.receiveAddress},'%') and
                </if>
                <if test="mailHistoryReqDTO.startTime!=null">
                    transmit_time >= #{mailHistoryReqDTO.startTime} and
                </if>
                <if test="mailHistoryReqDTO.endTime!=null">
                    #{mailHistoryReqDTO.endTime} >= transmit_time and
                </if>
                <if test="mailHistoryReqDTO.result!=null">
                    result=#{mailHistoryReqDTO.result} and
                </if>
            </trim>
        </if>
        group by id
        <if test="mailHistoryReqDTO.appName!=null">
            having
            GROUP_CONCAT("|",app_name,"|",to_pinyin(app_name),"|",pinyin(Num_char_extract(app_name,3)),"|",Num_char_extract(app_name,2),"|")
            like CONCAT('%', #{mailHistoryReqDTO.appName},'%')
        </if>
    </select>

    <select id="listHistoryWechat" resultType="com.zte.msg.pushcenter.pccore.entity.WeChatInfo">
        select * from wechat_info
        <if test="wechatHistoryReqDTO.appId!=null or wechatHistoryReqDTO.wechatName!=null or wechatHistoryReqDTO.startTime!=null or wechatHistoryReqDTO.endTime!=null or wechatHistoryReqDTO.result!=null">
            <trim prefix="where " suffixOverrides="and">
                <if test="wechatHistoryReqDTO.appId!=null">
                    app_id=#{wechatHistoryReqDTO.appId} and
                </if>
                <if test="wechatHistoryReqDTO.startTime!=null">
                    transmit_time >= #{wechatHistoryReqDTO.startTime} and
                </if>
                <if test="wechatHistoryReqDTO.endTime!=null">
                    #{wechatHistoryReqDTO.endTime} >= transmit_time and
                </if>
                <if test="wechatHistoryReqDTO.result!=null">
                    result=#{wechatHistoryReqDTO.result} and
                </if>
            </trim>
        </if>
        group by id
        <if test="wechatHistoryReqDTO.appName!=null or wechatHistoryReqDTO.wechatName!=null">
            <trim prefix="having " suffixOverrides="and">
                <if test="wechatHistoryReqDTO.wechatName!=null">
                    GROUP_CONCAT("|",wechat_name,"|",to_pinyin(wechat_name),"|",pinyin(Num_char_extract(wechat_name,3)),"|",Num_char_extract(wechat_name,2),"|")
                    like CONCAT('%', #{wechatHistoryReqDTO.wechatName},'%') and
                </if>
                <if test="wechatHistoryReqDTO.appName!=null">
                    GROUP_CONCAT("|",app_name,"|",to_pinyin(app_name),"|",pinyin(Num_char_extract(app_name,3)),"|",Num_char_extract(app_name,2),"|")
                    like CONCAT('%', #{wechatHistoryReqDTO.appName},'%') and
                </if>
            </trim>
        </if>
    </select>

    <select id="listHistoryApplication" resultType="com.zte.msg.pushcenter.pccore.entity.ApplicationInfo">
        select * from application_info
        <if test="applicationHistoryReqDTO.appId!=null or applicationHistoryReqDTO.targetPlatform!=null or applicationHistoryReqDTO.audience!=null or applicationHistoryReqDTO.startTime!=null or applicationHistoryReqDTO.endTime!=null or applicationHistoryReqDTO.result!=null">
            <trim prefix="where " suffixOverrides="and">
                <if test="applicationHistoryReqDTO.appId!=null and applicationHistoryReqDTO.appId!=''">
                    app_id=#{applicationHistoryReqDTO.appId} and
                </if>
                <if test="applicationHistoryReqDTO.targetPlatform!=null and applicationHistoryReqDTO.targetPlatform!=''">
                    target_platform=#{applicationHistoryReqDTO.targetPlatform} and
                </if>
                <if test="applicationHistoryReqDTO.audience!=null and applicationHistoryReqDTO.audience!=''">
                    audience=#{applicationHistoryReqDTO.audience} and
                </if>
                <if test="applicationHistoryReqDTO.startTime!=null and applicationHistoryReqDTO.startTime!=''">
                    transmit_time >= #{applicationHistoryReqDTO.startTime} and
                </if>
                <if test="applicationHistoryReqDTO.endTime!=null and applicationHistoryReqDTO.endTime!= ''">
                    #{applicationHistoryReqDTO.endTime} >= transmit_time and
                </if>
                <if test="applicationHistoryReqDTO.result!=null and applicationHistoryReqDTO.result!= ''">
                    result=#{applicationHistoryReqDTO.result} and
                </if>
            </trim>
        </if>
        group by id
        <if test="applicationHistoryReqDTO.appName!=null and applicationHistoryReqDTO.appName!=''">
            having
            GROUP_CONCAT("|",app_name,"|",to_pinyin(app_name),"|",pinyin(Num_char_extract(app_name,3)),"|",Num_char_extract(app_name,2),"|")
            like CONCAT('%', #{applicationHistoryReqDTO.appName},'%')
        </if>
    </select>
</mapper>