<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.pccore.mapper.HistoryMapper">

    <select id="listHistorySms" resultType="com.zte.msg.pushcenter.pccore.entity.SmsInfo">
        select * from sms_info
        <trim prefix="where " suffixOverrides="and">
            <if test="smsHistoryReqDTO.appId!=null and smsHistoryReqDTO.appId!=''">
                app_id=#{smsHistoryReqDTO.appId} and
            </if>
            <if test="smsHistoryReqDTO.appName!=null and smsHistoryReqDTO.appName!=''">
                app_name=#{smsHistoryReqDTO.appName} and
            </if>
            <if test="smsHistoryReqDTO.templateId!=null and smsHistoryReqDTO.templateId!=''">
                template_id=#{smsHistoryReqDTO.templateId} and
            </if>
            <if test="smsHistoryReqDTO.phoneNum!=null and smsHistoryReqDTO.phoneNum!=''">
                phone_num=#{smsHistoryReqDTO.phoneNum} and
            </if>
            <if test="smsHistoryReqDTO.startTime!=null and smsHistoryReqDTO.startTime!=''">
                transmit_time >= #{smsHistoryReqDTO.startTime} and
            </if>
            <if test="smsHistoryReqDTO.endTime!=null and smsHistoryReqDTO.endTime!=''">
                #{smsHistoryReqDTO.endTime} >= transmit_time and
            </if>
            <if test="smsHistoryReqDTO.result!=null">
                result=#{smsHistoryReqDTO.result} and
            </if>
        </trim>
        group by id
        order by transmit_time DESC
    </select>

    <select id="listHistoryMail" resultType="com.zte.msg.pushcenter.pccore.entity.MailInfo">
        select * from mail_info
        <trim prefix="where " suffixOverrides="and">
            <if test="mailHistoryReqDTO.appId!=null and mailHistoryReqDTO.appId!=''">
                app_id=#{mailHistoryReqDTO.appId} and
            </if>
            <if test="mailHistoryReqDTO.appName!=null and mailHistoryReqDTO.appName!=''">
                app_name=#{mailHistoryReqDTO.appName} and
            </if>
            <if test="mailHistoryReqDTO.receiveAddress!=null and mailHistoryReqDTO.receiveAddress!=''">
                receive_address=#{mailHistoryReqDTO.receiveAddress} and
            </if>
            <if test="mailHistoryReqDTO.startTime!=null and mailHistoryReqDTO.startTime!=''">
                transmit_time >= #{mailHistoryReqDTO.startTime} and
            </if>
            <if test="mailHistoryReqDTO.endTime!=null and mailHistoryReqDTO.endTime!=''">
                #{mailHistoryReqDTO.endTime} >= transmit_time and
            </if>
            <if test="mailHistoryReqDTO.result!=null">
                result=#{mailHistoryReqDTO.result} and
            </if>
        </trim>
        group by id
        order by transmit_time DESC
    </select>

    <select id="listHistoryWechat" resultType="com.zte.msg.pushcenter.pccore.entity.WeChatInfo">
        select * from wechat_info
        <trim prefix="where " suffixOverrides="and">
            <if test="wechatHistoryReqDTO.appId!=null and wechatHistoryReqDTO.appId!=''">
                app_id=#{wechatHistoryReqDTO.appId} and
            </if>
            <if test="wechatHistoryReqDTO.appName!=null and wechatHistoryReqDTO.appName!=''">
                app_name=#{wechatHistoryReqDTO.appName} and
            </if>
            <if test="wechatHistoryReqDTO.wechatName!=null and wechatHistoryReqDTO.wechatName!=''">
                wechat_name=#{wechatHistoryReqDTO.wechatName} and
            </if>
            <if test="wechatHistoryReqDTO.startTime!=null and wechatHistoryReqDTO.startTime!=''">
                transmit_time >= #{wechatHistoryReqDTO.startTime} and
            </if>
            <if test="wechatHistoryReqDTO.endTime!=null and wechatHistoryReqDTO.endTime!=''">
                #{wechatHistoryReqDTO.endTime} >= transmit_time and
            </if>
            <if test="wechatHistoryReqDTO.result!=null">
                result=#{wechatHistoryReqDTO.result} and
            </if>
        </trim>
        group by id
        order by transmit_time DESC
    </select>

    <select id="listHistoryApplication" resultType="com.zte.msg.pushcenter.pccore.entity.ApplicationInfo">
        select * from application_info
        <trim prefix="where " suffixOverrides="and">
            <if test="applicationHistoryReqDTO.appId!=null and applicationHistoryReqDTO.appId!=''">
                app_id=#{applicationHistoryReqDTO.appId} and
            </if>
            <if test="applicationHistoryReqDTO.appName!=null and applicationHistoryReqDTO.appName!=''">
                app_name=#{applicationHistoryReqDTO.appName} and
            </if>
            <if test="applicationHistoryReqDTO.targetPlatform!=null and applicationHistoryReqDTO.targetPlatform!=''">
                target_platform=#{applicationHistoryReqDTO.targetPlatform} and
            </if>
            <if test="applicationHistoryReqDTO.audience!=null and applicationHistoryReqDTO.audience!=''">
                audience=#{applicationHistoryReqDTO.audience} and
            </if>
            <if test="applicationHistoryReqDTO.startTime!=null and applicationHistoryReqDTO.startTime!=''">
                transmit_time >= #{applicationHistoryReqDTO.startTime} and
            </if>
            <if test="applicationHistoryReqDTO.endTime!=null and applicationHistoryReqDTO.endTime!= ''">
                #{applicationHistoryReqDTO.endTime} >= transmit_time and
            </if>
            <if test="applicationHistoryReqDTO.result!=null">
                result=#{applicationHistoryReqDTO.result} and
            </if>
        </trim>
        group by id
        order by transmit_time DESC
    </select>
</mapper>