<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.pccore.mapper.MenuMapper">
    <select id="listSuperCatalog" resultType="com.zte.msg.pushcenter.pccore.dto.res.SuperMenuResDTO">
        <if test="type==0">
            SELECT "根目录" AS catalog_name;
        </if>
        <if test="type!=0">
            SELECT id AS catalog_id,menu_name AS catalog_name FROM menu WHERE is_deleted=0 AND is_use=0 AND is_catalog=0 ORDER BY menu_sort ASC;
        </if>
    </select>

    <select id="listSuperMenu" resultType="com.zte.msg.pushcenter.pccore.dto.res.SuperMenuResDTO$MenuInfo">
        SELECT id AS menu_id,menu_name AS menu_name FROM menu WHERE is_deleted=0 AND is_use=0 AND is_menu=0 AND catalog_id=#{id} ORDER BY menu_sort ASC;
    </select>

    <insert id="insertMenu">
        INSERT INTO menu
        <trim prefix="(" suffix=")">
            <if test="menuList.isCatalog!=null" >
                is_catalog,
            </if>
            <if test="menuList.catalogId!=null" >
                catalog_id,
            </if>
            <if test="menuList.isMenu!=null" >
                is_menu,
            </if>
            <if test="menuList.menuId!=null" >
                menu_id,
            </if>
            <if test="menuList.menuName!=null and menuList.menuName!=''" >
                menu_name,
            </if>
            <if test="menuList.menuType!=null" >
                menu_type,
            </if>
            <if test="menuList.menuIcon!=null" >
                menu_icon,
            </if>
            <if test="menuList.menuSort!=null" >
                menu_sort,
            </if>
            <if test="menuList.menuUrl!=null and menuList.menuUrl!=''" >
                menu_url,
            </if>
            <if test="menuList.roleIdentify!=null and menuList.roleIdentify!=''" >
                role_identify,
            </if>
            <if test="menuList.componentPath!=null and menuList.componentPath!=''" >
                component_path,
            </if>
            <if test="menuList.isUse!=null" >
                is_use,
            </if>
            <if test="menuList.isShow!=null" >
                is_show,
            </if>
            created_by,updated_by
        </trim>
        VALUE
        <trim prefix="(" suffix=")">
            <if test="menuList.isCatalog!=null" >
                #{menuList.isCatalog},
            </if>
            <if test="menuList.catalogId!=null" >
                #{menuList.catalogId},
            </if>
            <if test="menuList.isMenu!=null" >
                #{menuList.isMenu},
            </if>
            <if test="menuList.menuId!=null" >
                #{menuList.menuId},
            </if>
            <if test="menuList.menuName!=null and menuList.menuName!=''" >
                #{menuList.menuName},
            </if>
            <if test="menuList.menuType!=null" >
                #{menuList.menuType},
            </if>
            <if test="menuList.menuIcon!=null" >
                #{menuList.menuIcon},
            </if>
            <if test="menuList.menuSort!=null" >
                #{menuList.menuSort},
            </if>
            <if test="menuList.menuUrl!=null and menuList.menuUrl!=''" >
                #{menuList.menuUrl},
            </if>
            <if test="menuList.roleIdentify!=null and menuList.roleIdentify!=''" >
                #{menuList.roleIdentify},
            </if>
            <if test="menuList.componentPath!=null and menuList.componentPath!=''" >
                #{menuList.componentPath},
            </if>
            <if test="menuList.isUse!=null" >
                #{menuList.isUse},
            </if>
            <if test="menuList.isShow!=null" >
                #{menuList.isShow},
            </if>
            #{doName},#{doName}
        </trim>
    </insert>

    <select id="listCatalog" resultType="com.zte.msg.pushcenter.pccore.dto.res.MenuResDTO">
        SELECT *
        FROM menu WHERE is_catalog=0 AND is_deleted=0
        <if test="menuIds!=null">
            AND id IN (
            <foreach collection="menuIds" index="index" item="menuId" separator=",">
                #{menuId}
            </foreach>
            )
        </if>
        ORDER BY menu_sort
    </select>

    <select id="listMenu" resultType="com.zte.msg.pushcenter.pccore.dto.res.MenuResDTO$MenuInfo">
        SELECT *
        FROM menu WHERE is_menu=0 AND is_deleted=0
        <if test="catalogId!=null">
            AND catalog_id=#{catalogId}
        </if>
        <if test="menuIds!=null">
            AND id IN (
            <foreach collection="menuIds" index="index" item="menuId" separator=",">
                #{menuId}
            </foreach>
            )
        </if>
        ORDER BY menu_sort
    </select>

    <select id="listButton" resultType="com.zte.msg.pushcenter.pccore.dto.res.MenuResDTO$MenuInfo$ButtonInfo">
        SELECT *
        FROM menu WHERE is_catalog=1 AND is_menu=1 AND is_deleted=0
        <if test="menuId!=null">
            AND menu_id=#{menuId}
        </if>
        <if test="menuIds!=null">
            AND id IN (
            <foreach collection="menuIds" index="index" item="id" separator=",">
                #{id}
            </foreach>
            )
        </if>
        ORDER BY menu_sort
    </select>

    <select id="listButtonRoleIdentify" resultType="java.lang.String">
        SELECT GROUP_CONCAT(DISTINCT a.role_identify) AS roles FROM
        (SELECT role_identify
        FROM menu WHERE is_catalog=1 AND is_menu=1 AND is_deleted=0
        <if test="menuId!=null">
            AND menu_id=#{menuId}
        </if>
        <if test="menuIds!=null">
            AND id IN (
            <foreach collection="menuIds" index="index" item="id" separator=",">
                #{id}
            </foreach>
            )
        </if>
        ) AS a
    </select>

    <update id="updateMenu">
        UPDATE menu
        <set>
            <if test="menuList.isCatalog!=null" >
                is_catalog=#{menuList.isCatalog},
            </if>
            <if test="menuList.catalogId!=null" >
                catalog_id=#{menuList.catalogId},
            </if>
            <if test="menuList.isMenu!=null" >
                is_menu=#{menuList.isMenu},
            </if>
            <if test="menuList.menuId!=null" >
                menu_id=#{menuList.menuId},
            </if>
            <if test="menuList.menuName!=null and menuList.menuName!=''" >
                menu_name=#{menuList.menuName},
            </if>
            <if test="menuList.menuType!=null" >
                menu_type=#{menuList.menuType},
            </if>
            <if test="menuList.menuIcon!=null and menuList.menuIcon!=''" >
                menu_icon=#{menuList.menuIcon},
            </if>
            <if test="menuList.menuSort!=null" >
                menu_sort=#{menuList.menuSort},
            </if>
            <if test="menuList.menuUrl!=null and menuList.menuUrl!=''" >
                menu_url=#{menuList.menuUrl},
            </if>
            <if test="menuList.roleIdentify!=null and menuList.roleIdentify!=''" >
                role_identify=#{menuList.roleIdentify},
            </if>
            <if test="menuList.componentPath!=null and menuList.componentPath!=''" >
                component_path=#{menuList.componentPath},
            </if>
            <if test="menuList.isUse!=null" >
                is_use=#{menuList.isUse},
            </if>
            <if test="menuList.isShow!=null" >
                is_show=#{menuList.isShow},
            </if>
            updated_by=#{doName}
        </set>
        WHERE id=#{menuList.id}
    </update>

    <update id="deleteMenu">
        <foreach collection="list" index="index" item="id" separator=";">
            UPDATE menu SET is_deleted=1 WHERE is_deleted=0 AND id=#{id}
        </foreach>
    </update>
</mapper>