<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.pccore.mapper.RoleMapper">
    <select id="listAllRole" resultType="com.zte.msg.pushcenter.pccore.entity.Role">
        select * from role where is_deleted=0
    </select>

    <select id="listRole" parameterType="com.zte.msg.pushcenter.pccore.dto.req.RoleReqDTO" resultType="com.zte.msg.pushcenter.pccore.entity.Role">
        select * from role where is_deleted=0
        <if test="status!=''">
            and status=#{status}
        </if>
        group by id
        <if test="roleName!=''">
            having GROUP_CONCAT("|",role_name,"|",to_pinyin(role_name),"|",pinyin(role_name),"|") like "%"#{roleName}"%"
        </if>
    </select>

    <update id="deleteRole">
        update role set is_deleted=1 where id in (
        <foreach collection="list" item="id" index="index" separator=";">
            #{id}
        </foreach>
        ) and is_deleted=0
    </update>

    <update id="deleteRoleMenu">
        update role_menu set is_deleted=1 where role_id in (
        <foreach collection="list" item="id" index="index" separator=";">
            #{id}
        </foreach>
        ) and is_deleted=0
    </update>

    <insert id="insertRole" useGeneratedKeys="true" keyProperty="id" parameterType="com.zte.msg.pushcenter.pccore.dto.req.RoleReqDTO">
        insert into role
        <trim prefix="(" suffix=")">
            <if test="roleName!=null" >
                role_name,
            </if>
            <if test="roleStr!=null" >
                role_str,
            </if>
            <if test="roleSort!=null" >
                role_sort,
            </if>
            <if test="status!=null" >
                status,
            </if>
            <if test="remark!=null" >
                remark,
            </if>
            created_by,updated_by
        </trim>
        value
        <trim prefix="(" suffix=")">
            <if test="roleName!=null" >
                #{roleName},
            </if>
            <if test="roleStr!=null" >
                #{roleStr},
            </if>
            <if test="roleSort!=null" >
                #{roleSort},
            </if>
            <if test="status!=null" >
                #{status},
            </if>
            <if test="remark!=null" >
                #{remark},
            </if>
            #{createdBy},#{createdBy}
        </trim>
    </insert>

    <insert id="insertRoleMenu">
        insert into role_menu
        <trim prefix="(" suffix=")">
            <if test="roleId!=null" >
                role_id,
            </if>
            <if test="menuIds!=null" >
                menu_id,
            </if>
            created_by,updated_by
        </trim>
        values
        <foreach collection="menuIds" index="index" item="menuId" separator=",">
            <trim prefix="(" suffix=")">
                <if test="roleId!=null" >
                    #{roleId},
                </if>
                <if test="menuId!=null" >
                    #{menuId},
                </if>
                #{doName},#{doName}
            </trim>
        </foreach>
    </insert>

    <update id="updateRole" parameterType="com.zte.msg.pushcenter.pccore.dto.req.RoleReqDTO">
        update role
        <set>
            <if test="roleName!=null" >
                role_name=#{roleName},
            </if>
            <if test="roleStr!=null" >
                role_str=#{roleStr},
            </if>
            <if test="roleSort!=null" >
                role_sort=#{roleSort},
            </if>
            <if test="status!=null" >
                status=#{status},
            </if>
            <if test="remark!=null" >
                remark=#{remark},
            </if>
            updated_by=#{createdBy}
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteRoleMenus">
        UPDATE role_menu SET is_deleted=1 WHERE role_id=#{roleId} AND is_deleted=0;
    </delete>

    <select id="selectMenuRoles" resultType="java.lang.String">
        SELECT DISTINCT m.role_identify FROM role as r left join role_menu as rm on r.id=rm.role_id AND r.is_deleted=0 and rm.is_deleted=0
        left join menu as m on m.id=rm.menu_id and m.is_deleted=0 and m.is_use=0 WHERE r.id=#{roleId}
    </select>

    <select id="selectRoleMenuIds" resultType="java.lang.String">
        SELECT DISTINCT menu_id FROM role_menu WHERE role_id=#{roleId} AND is_deleted=0;
    </select>

    <select id="selectMenuIds" resultType="java.lang.String">
        SELECT DISTINCT menu_id FROM role_menu WHERE role_id in (
            <foreach collection="list" index="index" item="roleId" separator=",">
                #{roleId}
            </foreach>
            ) AND is_deleted=0;
    </select>
</mapper>