<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.pccore.mapper.ScreenMapper">
    <select id="appPushInfoData" resultType="com.zte.msg.pushcenter.pccore.dto.res.AppPushDataScreenResDTO">
        select r.app_name,count(r.app_id) as num from
        (select app_id,app_name,result,delay,transmit_time,is_deleted from sms_info
         UNION ALL
         select app_id,app_name,result,delay,transmit_time,is_deleted from application_info
         UNION ALL
         select app_id,app_name,result,delay,transmit_time,is_deleted from mail_info
         UNION ALL
         select app_id,app_name,result,delay,transmit_time,is_deleted from wechat_info) as r
        where r.is_deleted=0 and r.transmit_time >= #{startTime} and #{endTime} >= r.transmit_time
        group by r.app_id
    </select>

    <select id="pushInfoSuccessData" resultType="com.zte.msg.pushcenter.pccore.dto.res.PushSuccessDataScreenResDTO">
        select r.type,count(r.id) as total,sum(case when r.result=0 then 1 end) as success_num
        from
        (select '短信推送' as type,id,result,transmit_time,is_deleted from sms_info
         UNION ALL
         select 'App推送' as type,id,result,transmit_time,is_deleted from application_info
         UNION ALL
         select '邮件推送' as type,id,result,transmit_time,is_deleted from mail_info
         UNION ALL
         select '公众号推送' as type,id,result,transmit_time,is_deleted from wechat_info) as r
        where r.is_deleted=0 and r.transmit_time >= #{startTime} and #{endTime} >= r.transmit_time
        group by r.type
    </select>

    <select id="pushInfoFailedStatistics" resultType="com.zte.msg.pushcenter.pccore.dto.res.">
        select r.transmit_time,count(r.id) as fail_num from
        (select id,result,date(transmit_time) as transmit_time,is_deleted from sms_info
        UNION ALL
        select id,result,date(transmit_time) as transmit_time,is_deleted from application_info
        UNION ALL
        select id,result,date(transmit_time) as transmit_time,is_deleted from mail_info
        UNION ALL
        select id,result,date(transmit_time) as transmit_time,is_deleted from wechat_info) as r
        where r.is_deleted=0 and r.result=1 and r.transmit_time >= date(#{startTime}) and date(#{endTime}) >= r.transmit_time
        group by r.transmit_time
    </select>
</mapper>