<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.pccore.mapper.SecretMapper">

    <select id="selectAppRole" resultType="java.lang.String" parameterType="java.lang.String">
        select group_concat(r.role_name) as sendMode from secret_key as sk
        left join app_role as ar on ar.app_id=sk.app_id and ar.is_deleted=0
        left join sendMode as r on r.id=ar.role_id and r.flag=0 where sk.app_key=#{appKey} and sk.flag=0
    </select>

    <select id="selectAppSecret" resultType="java.lang.String">
        select app_secret from app where id=#{appId} and is_deleted=0
    </select>

    <select id="selectSecretKey" resultType="com.zte.msg.pushcenter.pccore.dto.res.SecretKeyResDTO">
        select app_key, app_secret, status from app where id=#{appId}
    </select>
</mapper>