<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.pccore.mapper.UserMapper">
    <select id="selectUserInfo" resultType="com.zte.msg.pushcenter.pccore.entity.User" parameterType="java.lang.String">
        select * from user where user_name=#{userName}
    </select>

    <select id="selectUserRoles" resultType="java.lang.Long">
        select role_id from user where user_name=#{userName} and is_deleted=0
    </select>

    <insert id="insertUser">
        insert into user(user_name, password,created_by,updated_by
        <if test="user.userRealName!=null" >
            , user_real_name
        </if>
        <if test="user.phone!=null" >
            , phone
        </if>
        <if test="user.mail!=null" >
            , mail
        </if>
        <if test="user.status!=null" >
            , status
        </if>
        <if test="user.roleId!=null" >
            , role_id
        </if>
        <if test="user.remark!=null" >
            , remark
        </if>
        ) value(#{user.userName},#{user.password},#{doName},#{doName}
        <if test="user.userRealName!=null">
            ,#{user.userRealName}
        </if>
        <if test="user.phone!=null" >
            , #{user.phone}
        </if>
        <if test="user.mail!=null" >
            , #{user.mail}
        </if>
        <if test="user.status!=null" >
            , #{user.status}
        </if>
        <if test="user.roleId!=null" >
            , #{user.roleId}
        </if>
        <if test="user.remark!=null" >
            , #{user.remark}
        </if>
        )
    </insert>

    <update id="changePwd" parameterType="com.zte.msg.pushcenter.pccore.dto.req.PasswordReqDTO">
        update user set password=#{passwordReqDTO.newPwd},updated_by=#{updateBy}
        where user_name=#{passwordReqDTO.userName} and password=#{passwordReqDTO.oldPwd}
    </update>

    <update id="resetPwd">
        update user set password=#{password},updated_by=#{updateBy} where id=#{id}
    </update>

    <update id="editUser">
        update user
        <set>
            <if test="userReqDTO.userRealName!=null">
                user_real_name=#{userReqDTO.userRealName},
            </if>
            <if test="userReqDTO.phone!=null">
                phone=#{userReqDTO.phone},
            </if>
            <if test="userReqDTO.mail!=null">
                mail=#{userReqDTO.mail},
            </if>
            <if test="userReqDTO.status!=null">
                status=#{userReqDTO.status},
            </if>
            <if test="userReqDTO.roleId!=null">
                role_id=#{userReqDTO.roleId},
            </if>
            <if test="userReqDTO.remark!=null">
                remark=#{userReqDTO.remark},
            </if>
            updated_by=#{updateBy}
        </set>
        where id=#{userReqDTO.userId}
    </update>

    <update id="deleteUser">
        <foreach collection="list" index="index" item="id" separator=";">
            update user set is_deleted=1 where id=#{id} and is_deleted=0
        </foreach>
    </update>

    <select id="listAllUser" resultType="com.zte.msg.pushcenter.pccore.entity.User">
        select * from user where is_deleted=0
    </select>

    <select id="listUser" resultType="com.zte.msg.pushcenter.pccore.entity.User">
        select * from user where is_deleted=0
        <if test="userReqDTO.status!=null">
            and status=#{userReqDTO.status}
        </if>
        group by id
        <if test="userReqDTO.userRealName!=null">
            having GROUP_CONCAT("|",user_real_name,"|",to_pinyin(user_real_name),"|",pinyin(user_real_name),"|") like "%"#{userReqDTO.userRealName}"%"
        </if>
    </select>
</mapper>