<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.mapper.AppMapper">

    <select id="listApp" resultType="com.zte.msg.pushcenter.entity.App">
        select * from app
    </select>

    <delete id="deleteApp" parameterType="java.lang.Integer">
        delete from app where id=#{appId};
        delete from app_role where app_id=#{appId};
    </delete>

    <update id="updateApp" parameterType="com.zte.msg.pushcenter.entity.App">
        update app set app_name=#{appName} where id=#{id}
    </update>

    <insert id="insertApp" parameterType="java.lang.String">
        insert into app(app_name) value(#{appName});
    </insert>

    <select id="selectAppId" resultType="java.lang.Integer" parameterType="java.lang.String">
        select id from app where app_name=#{appName}
    </select>
</mapper>