<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.mapper.AppRoleMapper">
    <select id="listApp" resultType="com.zte.msg.pushcenter.dto.res.AppRoleResDTO">
        SELECT distinct ar.app_id,a.app_name FROM app_role as ar
        left join app as a on a.id=ar.app_id and a.flag=0 where ar.flag=0;
    </select>

    <select id="selectApp" resultType="com.zte.msg.pushcenter.dto.res.AppRoleResDTO">
        SELECT distinct ar.app_id,a.app_name,group_concat(r.role_name) as role FROM app_role as ar
        left join app as a on a.id=ar.app_id and a.flag=0 where ar.flag=0 where ar.app_id=#{appId};
    </select>
    
    <select id="selectAppRole" resultType="com.zte.msg.pushcenter.entity.AppRole">
        SELECT ar.role_id,r.role_name FROM app_role as ar
        left join role as r on r.id=ar.role_id and r.flag=0 where ar.app_id=#{appId} and ar.flag=0;
    </select>

    <select id="selectTemplate" resultType="com.zte.msg.pushcenter.entity.Template">
        select ar.id as app_role_id,ar.template_id as id,t.type,t.name,t.description,ar.status from app_role as ar
        left join template as t on ar.template_id=t.id and t.flag=0 where ar.role_id=#{roleId} and ar.flag=0
    </select>

    <insert id="editAppRole" parameterType="com.zte.msg.pushcenter.dto.res.AppRoleResDTO">
        <foreach collection="list" item="item" index="index" separator=";">
            <foreach collection="item.role" index="index" item="role" separator=";">
                <foreach collection="role.template" item="template" index="index" separator=";">
                    insert into app_role
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="template.appRoleId!=null">id,</if>
                        <if test="item.appId!=null">app_id,</if>
                        <if test="role.roleId!=null">role_id,</if>
                        <if test="template.id!=null">template_id,</if>
                        <if test="template.status!=null">status,</if>
                    </trim>
                    values
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="template.appRoleId!=null">#{template.appRoleId},</if>
                        <if test="item.appId!=null">#{item.appId},</if>
                        <if test="role.roleId!=null">#{role.roleId},</if>
                        <if test="template.id!=null">#{template.id},</if>
                        <if test="template.status!=null">#{template.status},</if>
                    </trim>
                    ON DUPLICATE KEY UPDATE
                    <trim suffixOverrides=",">
                        <if test="item.appId!=null">app_id=#{item.appId},</if>
                        <if test="role.roleId!=null">role_id=#{role.roleId},</if>
                        <if test="template.id!=null">template_id=#{template.id},</if>
                        <if test="template.status!=null">status=#{template.status},</if>
                    </trim>
                </foreach>
            </foreach>
        </foreach>
    </insert>

    <select id="listRole" resultType="com.zte.msg.pushcenter.entity.Role">
        select * from role
    </select>

    <delete id="deleteRole" parameterType="java.lang.Integer">
        delete from role where id=#{roleId};
        delete from app_role where role_id=#{roleId};
    </delete>

    <update id="updateRole" parameterType="com.zte.msg.pushcenter.entity.Role">
        update role set role_name=#{roleName} where id=#{id}
    </update>

    <insert id="insertRole" parameterType="java.lang.String">
        insert into role(role_name) value(#{roleName});
    </insert>

    <select id="selectRoleId" resultType="java.lang.Integer" parameterType="java.lang.String">
        select id from role where role_name=#{roleName}
    </select>
</mapper>