<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.dao.TokenDao">
    <insert id="addSecretKey" parameterType="com.zte.msg.pushcenter.entity.SecretKey">
        insert into secret_key(app_id, app_key, app_secret, app_token) value (#{appId},#{appKey},#{appSecret},#{appToken});
    </insert>

    <select id="getSecretKey" resultType="com.zte.msg.pushcenter.entity.SecretKey">
        select * from secret_key where app_id=#{appId}
    </select>

    <select id="listSecretKey" resultType="com.zte.msg.pushcenter.entity.SecretKey">
        select * from secret_key
    </select>

    <select id="selectTokenInfo" resultType="com.zte.msg.pushcenter.dto.TokenInfo">
        select sk.app_id,a.app_name,sk.app_key,sk.app_secret,group_concat(r.role_name) as role from secret_key as sk
        left join app as a on sk.app_id=a.id
        left join app_role as ar on ar.app_id=sk.app_id and ar.is_flag=0
        left join role as r on r.id=ar.role_id where sk.app_key=#{appKey} and sk.app_secret=#{appSecret}
    </select>
</mapper>