<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.pushcenter.mapper.UserMapper">
    <select id="selectUserInfo" resultType="com.zte.msg.pushcenter.entity.User" parameterType="java.lang.String">
        select * from user where user_name=#{userName}
    </select>

    <insert id="insertUser" parameterType="com.zte.msg.pushcenter.entity.User">
        insert into user(user_name, password
        <if test="userRealName!=null" >
            , user_real_name
        </if>
        ) value(#{userName},#{password}
        <if test="userRealName!=null">
            ,#{userRealName}
        </if>
        )
    </insert>

    <update id="changePwd" parameterType="com.zte.msg.pushcenter.dto.req.PasswordReqDTO">
        update user set password=#{newPwd} where user_name=#{userName} and password=#{oldPwd}
    </update>

    <update id="deleteUser" parameterType="java.lang.String">
        update user set flag=1 where user_name=#{userName} and flag=0
    </update>
</mapper>